/* Estilo para el cuerpo de la página */
body {
  background-color: #ffffe0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start; /* Centra el contenido hacia arriba */
  align-items: flex-start; /* Alinea el contenido hacia arriba */
  height: 100vh;
}

/* Estilo para los encabezados */
h2 {
  color: #000000;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

/* Estilo para el formulario de inicio de sesión */
section {
  background-color: #fffacd;
  padding: 40px; /* Aumenta el valor para hacer el formulario más grande */
  border-radius: 5px;
  max-width: 800px; /* Aumenta el valor para hacer el formulario más grande */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Centra el contenido hacia arriba */
  align-items: center;
  margin: auto; /* Centra el formulario horizontalmente */
  margin-top: 0; /* Elimina el margen superior */
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ffa500;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #ffa500;
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #ff8c00;
}

p {
  margin-top: 10px;
  font-size: 16px;
}

a {
  color: #ffa500;
  font-size: 16px;
}

a:hover {
  color: #ff8c00;
}

section {
  background-color: #fffacd;
  padding: 40px;
  border-radius: 5px;
  max-width: 800px;
  text-align: left;
}