/* Estilo para el cuerpo de la página */
body {
    background-color: #ffffe0; /* Amarillo claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para el encabezado */
  h2 {
    color: #ffa500; /* Amarillo anaranjado */
    text-align: center;
    padding-top: 20px;
  }
  
  /* Estilo para la sección de formulario */
  section {
    background-color: #fffacd; /* Amarillo claro */
    padding: 20px;
    border-radius: 5px;
    max-width: 400px; /* Ajusta el ancho máximo de la sección según sea necesario */
    margin: 20px auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    color: #ffa500; /* Amarillo anaranjado */
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ffa500; /* Amarillo anaranjado */
  }
  
  input[type="submit"] {
    background-color: #ffa500; /* Amarillo anaranjado */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #ff8c00; /* Naranja oscuro */
  }
  
  /* Estilo para el enlace de descarga */
  a#download-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #ffa500; /* Amarillo anaranjado */
    text-decoration: none;
  }
  
  a#download-link:hover {
    color: #ff8c00; /* Naranja oscuro */
  }
  